body {
    background-color: rgb(240, 236, 241);
}

* {
    font-family: Arial, sans-serif;
}

h1, h3, h5 {
    color: rgb(171, 28, 123);
}

p {
    color: rgb(19, 1, 51);
}

a link {
    color: rgb(90, 163, 223);
}
