:root {
    /* color: primary */
    --c-primary: var(--cream);
    --c-primary-bg: var(--peony-pink);
    --c-bg: var(--grayish-yellow);
    --c-text: var(--dark-brown);
    --c-link: var(--dark-brown);
    --btn-bg-1: var(--plum);
    --btn-bg-2: var(--olive-green);
    --btn-text: var(--cream);

    /* color: secondary */
    --cream: rgb(252, 252, 231);
    --terracota: rgb(197, 59, 34);
    --dark-brown: rgb(52, 17, 0);
    --plum: rgba(150, 79, 119, 1);
    --peony-pink: rgba(228, 131, 185, 1);
    --olive-green: rgba(152, 155, 101, 1);
    --grayish-yellow: rgba(236,239,200,1);

}

/* fonts */

@font-face {
    font-family: 'Audiowide';
    src: url(fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(fonts/Inter-VariableFont_opsz,wght.ttf);
}

@font-face {
    font-family: 'Inter-Italic';
    src: url(fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--c-bg);
    margin: 0 0 0 0;
    height: 100vh;
}

h1, h2, h3 {
    color: var(--c-primary);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    color: var(--c-text);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--c-link);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#title {
    font-size: 5em;
    line-height: 1.0;
    margin-bottom: 0.5vw;
    margin-top: 0;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quote {
    padding-left: 40px;
    padding-right: 80px;
}

.introduction {
    font-size: 2em;
}

.introheader {
    background-color: var(--c-primary-bg);
    padding: 5em;
}

.header {
    background-color: var(--c-primary-bg);
    padding: 1em 5em; 
    /* font-size: 18px; */
}

.content {
    padding: 1em 5em;
}

.introfooternav {
    background-color: var(--btn-bg-2);
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;

    a {
        color: var(--btn-text);
        text-decoration: none;
        font-size: 1.5em;
    }
}

.footernav {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 50vw 50vw;
    
    a {
        color: var(--btn-text);
        text-decoration: none;
        font-size: 1.5em;
    }
}

.previousbutton {
    background-color: var(--btn-bg-1);
    text-align: center;
}

.nextbutton {
    background-color: var(--btn-bg-2);
    text-align: center;
}
